/********************************
        LISTE ARTICLE
*********************************/
.genale_listeArticle{
    width: 100%;
    height: 500px;
    background-color: #3678ab;
}
.titre_general_listeArticle{
    font-size: 100px;
    color: white;
}
.info_general_listeArticle{
    color: white;
    font-size: 20px;
}

        /********************************
            LISTE ARTICLE - CONTENU
        *********************************/
        .listeArticle_liste_total{
            background-color: #ececec;
            padding: 50px 0 50px 0;
        }
        .listeArticle_liste_un_par_un{
            background-color: white;
            border-radius: 30px;
            padding: 10px 0 10px 0;
            margin-top: 40px!important;
        }
        .img_listeArticle{
            width: 400px;
            height: 350px;
            border-radius: 30px;
        }
        .listeArticle_liste_details{
            border-left: solid 4px black;
        }
        .listeArticle_info_titre{
            font-size: 35px;
        }
        .listeArticle_info_marque{
            font-size: 20px;
        }
        .listeArticle_info_description{
            text-align: justify;
        }
        .listeArticle_prix{
            height: 50px;
            line-height: 45px;
            font-size: 22px;
            font-weight: bold;
            border: solid 2px black;
            background-color: #cac7c7;
        }
        .nbre{
            width: 50px;
            height: 50px;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }
        .img_quantite{
            cursor: pointer;
            width: 50px;
            height: 50px;
            border: solid 2px black;
            background-color: #cac7c7;
            margin-top: 0px;
        }
        .btn_modal_nego{
            background-color: #cac7c7;
            border: solid 2px black;
        }
        .img_trash{
            cursor: pointer;
            width: 50px;
            height: 50px;
            border: solid 2px black;
            background-color: #ececec;
        }

        /********************************
                    MODAL
        *********************************/
        .nego_contenu_modal div,
        .nego_contenu_modal_titre div{
            border: solid 1px black;
        }
        .btn_submit_refus_nego_modal,
        .btn_submit_accepte_nego_modal{
            margin-top: 4px;
            margin-bottom: 4px;
            width: 50px;
            height: 25px;
            color: #ececec;
        }
        .btn_submit_refus_nego_modal:hover{
            background-color: red;
            color: white;
        }
        .btn_submit_accepte_nego_modal:hover{
            background-color: green;
            color: white;
        }