
/********************************
        VETEMENTS/MAISON
*********************************/
.deco_marque_general{
    margin-top: 100px;
    background-color: rgb(255, 255, 255,0.5);
    width: 400px;
    height: 90px;
    border-radius: 30px 0 0 30px;
}
.texte_deco_marque_general{
    font-size: 50px;
    margin-left: 30px;
}
            /********************************
                        IMAGE
            *********************************/
            .image_vetement_general{
                width: 100%;    
            }
            .img_icon_sale{
                float: left;
                width: 80px;
                height: 80px;
                margin-left: 20px;
            }
            .img_separation{
                width: 100%;
                height: 22px;
            }
.navbar_vetement{
    background-color: #f2f2f2;
}
.navbar_vetement{
    list-style-type: none;
}
.navbar_vetement_details li{
    display: inline-block;
    padding: 20px 0 20px 0;
}
.navbar_vetement_details li a{
    text-decoration: none;
    color: black;
    margin-right: 60px;
    font-size: 17px;
}
.navbar_vetement_details li :hover{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
/********************************
    LISTE-VETEMENT/MAISON
*********************************/
.maison_liste_total,
.vetement_liste_total{
    margin-top: 70px;
}
            /********************************
                        IMAGE
            *********************************/
            .img_maison_presentation,
            .img_vetement_presentation{
                margin-left: 20px;
            }
            .img_vetement_sale{
                width: 250px;
                height: 350px;
            }
            .img_maison_sale{
                width: 250px;
                height: 250px;
            }
.class_separation2{
    width: 250px;
    height: 5px;
    background: linear-gradient(-45deg, black 25%, white 25%, white 50%, black 50%, black 75%, white 75%, white);
    background-size:10px 10px;
}
.maison_liste_details,
.vetement_liste_details{
    margin-left: 20px;
    width: 250px;
    height: 90px;
}
.maison_liste_details_gauche,
.vetement_liste_details_gauche{
    float: left;
}
.maison_liste_details_droite,
.vetement_liste_details_droite{
    float: right;
}
.btn_ajouter_article{
    width: 120px;
    background-color: #a0a0a0;
    border-radius: 30px;
    color: white;
}
        /********************************
                    MODAL
        *********************************/
        /* .titre_modal_prix_nego{
            font-size: 25px;
            color: #14003f;
        }
        .modal-body{
            text-align: center;
        }
        .quantite_nego_maison,
        .quantite_nego_vetement{
            width: 70px;
            border: none;
            text-align: center;
            border-bottom: solid 2px black;
        }
        .prix_nego_vetement,
        .prix_nego_maison{
            width: 50px;
            border: none;
            text-align: center;
            border-bottom: solid 2px black;
        }
        .condition_prix_nego{
            width: 200px;
            font-size: 9px;
            text-align: justify;
        } */

/********************************
            CARD PRODUCT
*********************************/
.cardProduct {
    position: relative;
}
    
.cardProduct .card-badge {
    position: absolute;
    top:10px;
    left:-20px;
    padding:5px;
    color:white;
    transform:rotate(0deg);
}

/********************************
            ENCHERE
*********************************/
.genale_page_enchere{
    width: 100%;
    height: 500px;
    background-color: #3678ab;
}
.titre_general_enchere{
    font-size: 150px;
    color: white;
}
.info_general_enchere{
    color: white;
    font-size: 20px;
}
/********************************
        ENCHERE-LISTE
*********************************/

    /********************************
            LISTE-GAUCHE
    *********************************/
    .enchere_liste_total{
        background-color: #ececec;
        padding: 50px 0 50px 0;
    }
    .enchere_liste_un_par_un{
        background-color: white;
        border-radius: 30px;
        padding: 10px 0 10px 0;
        margin-top: 40px;
        margin-top: 50px!important;
    }
    .enchere_liste_details{
        border-left: solid 4px black;
    }
    .enchere_info_titre{
        font-size: 35px;
    }
    .enchere_info_marque{
        font-size: 20px;
    }
    .enchere_info_description{
        text-align: justify;
        overflow: hidden;
        overflow-y: scroll;
        width: 100%;
        height: 200px;
    }
            /********************************
                    Affichage indé
            *********************************/
            .info_description_inde{
                text-align: justify;
                overflow: hidden;
                overflow-y: scroll;
                width: 100%;
                height: 160px;
            }
    .div_timeur_compteur{
        margin-right: 30px;
    }
    .enchere_compteur_total{
        margin-top: 50px;
    }
    .enchere_compteur{
        width: 80px!important;
        /* width: 82px; */
        height: 80px;
        background-color: #ececec;
        margin-left: 2px;
        text-align: center;
    }

            /********************************
                    LISTE-GAUCHE-IMAGE
            *********************************/
            .img_enchere{
                width: 350px;
                height: 380px;
                border-radius: 30px;
            }
            .img_enchere_separation_info{
                width: 300px;
                height: 100px;
                position: absolute;
                top: 190px;
                left: 100px;
            }
            .img_timeur_compteur{
                width: 80px;
                height: 70px;
            }

    /********************************
            LISTE-DROITE
    *********************************/
    .enchere_liste_payer{
        background-color: white;
        margin-left: 20px;
        border-radius: 30px;
        margin-top: 40px;
        margin-top: 50px!important;
    }
    .enchere_payer_titre{
        font-size: 40px;
        margin-top: 80px!important;
    }
    .enchere_propose_prix{
        margin-top: 40px;
        width: 260px;
        height: 50px;
        font-size: 20px;
        border: none;
        border-bottom: solid 3px black;
    }
    .btn_envoyer_propose_prix{
        width: 200px;
        height: 50px;
        margin-top: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        background-color: #3678ab;
        border: none;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }
    .btn_envoyer_propose_prix:hover{
        color: white;
    }
    .enchere_nombre_participant{
        color: red;
        margin-bottom: 7px;
        margin-right: 15px;
    }

/********************************
        NEGOCIATION
*********************************/
.nego_item_unique{
    width: 300px;
    text-align: center;
    margin-top: 70px;
    margin-left: 40%;
}
.titre_unique_prix_nego{
    font-size: 25px;
    color: #14003f;
}
.quantite_nego{
    width: 70px;
    border: none;
    text-align: center;
    border-bottom: solid 2px black;
}
.prix_nego{
    width: 50px;
    border: none;
    text-align: center;
    border-bottom: solid 2px black;
}
#negoItemErreur{
    color: red;
    font-size: 12px;
}
.condition_prix_nego{
    width: 200px;
    font-size: 9px;
    text-align: justify;
}
.close_nego_item{
    cursor: pointer;
}
.btn_submit_nego{
    background-color: white;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
    color: black;
}
.btn_submit_nego:hover{
    background-color: black;
    color: white;
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}
.message_nego{
    margin-top: 50px;
}

        /********************************
                    MESSAGERIE
        *********************************/
        .messarie_detail_total{
            width: 60%;
            height: 700px;
            margin-top: 100px;
            margin-left: 20%;
        }
        .fond_discussion{
            width: 100%;
            height: 100%;
        }
        .info_msg_haut{
            position: absolute;
            top: 150px;
            left : 381px;
            width: 756px;
            height: 340px;
        }
        .satut_nego_msg{
            font-size: 50px;
            transform: translate(40%,50%);
            margin-top: 80px;
        }
        .info_msg_bas{
            width: 760px;
            height: 100px;
            background-color: white;
            position: absolute;
            bottom: 150px;
            left: 380px;
        }
        .info_msg_bas2{
            width: 750px;
            height: 100px;
            background-color: white;
            position: absolute;
            bottom: 150px;
            left: 385px;
        }
        .message_comptenu{
            margin-left: 50px;
        }
        .quantite_nego_message{
            margin-top: 10px;
            background-color: white;
            width: 200px;
            border: none;
            text-align: center;
            font-size: 40px;
            border-bottom: solid 2px black;
        }
        .prix_nego_message{
            margin-top: 10px;
            background-color: white;
            width: 120px;
            border: none;
            text-align: center;
            font-size: 40px;
            border-bottom: solid 2px black;
            margin-left: 50px;
        }
        .btn_submit_msg_acheteur{
            color: white;
            background-color: #14003f;
            font-size: 40px;
            width: 199px;
            height: 105px;
            border: solid 2px black;
        }
        .btn_msg_vendeur{
            border: solid 5px black!important;
            width: 250px;
            height: 80px;
            font-size: 40px!important;
            font-weight: bold!important;
            margin-top: 15px;
            margin-left: 70px;
        }
        #btn_msg_vendeur_valider:hover{
            border: solid 5px rgb(19, 230, 19)!important;
            color: rgb(19, 230, 19)!important;
        }
        #btn_msg_vendeur_refuser:hover{
            border: solid 5px red!important;
            color: red!important;
        }