/********************************
            GENERAL
*********************************/
.centrer{
    text-align: center;
}
.image_ronde{
    border-radius: 50%;
}
.white{
    color: white;
}
.texte_style{
    font-family: Impact, fantasy;
}
.detail_style{
    font-family: FreeMono, monospace;
}
.class_separation{
    width: 100%;
    height: 25px;
    background: linear-gradient(-45deg, black 25%, white 25%, white 50%, black 50%, black 75%, white 75%, white);
    background-size:20px 20px;
}
.f_right{
    float: right!important;
}
        /********************************
                    COLORS
        *********************************/
        .color_blue1{
            color:#3678ab!important;
        }
        .bg_blue1{
            background-color:#3678ab!important;
        }
        .color_blue2{
            color:#14003f!important;
        }
        .bg_blue2{
            background-color:#14003f!important;
        }



/********************************
            NAVBAR
*********************************/
.navbar{
    width: 100%;
    height: 80px;
}
.navbar-nav a{
    font-weight: bold;
    color: #14003f!important;
}
.navbar-nav a:hover{
    color: rgb(122, 138, 153)!important;
}
.nav-item{
    margin-right: 50px;
    font-size: 15px;
}
.nav_regul{
    margin-top: 6px;
}
.dropdown-menu a{
    color: #14003f!important;
}
.dropdown-menu a:hover{
    color: rgb(70, 77, 83)!important;
}
.nav_btn_panier{
    width: 40px;
    margin-right: 50px;
}
.nav_user{
    width: 70px;
    height: 80px;
    background-color: #14003f;
    
}
.last_nav_title{
    margin-right: 80px!important;
}

        /********************************
                    IMAGE
        *********************************/
        #img_logo_navbar{
            width: 350px;
            height: 80px;
        }
        #img_nav_panier{
            width: 20px;
            height: 20px;
            margin-right: 50px;
        }
        #img_nav_user{
            width: 60px;
            height: 60px;
        }




/********************************
            FOOTER
*********************************/
.mon_footer1{
    background-color: #14003f;
}
.image_payment_footer{
    width: 70px;
    height: 50px;
}
.monfotter2{
    font-size: 15px;
}
        /********************************
                    RESEAUX
        *********************************/
        .suivez_reseaux{
            background-color: #f2f2f2;
            margin-top: 100px;
            font-size: 25px;
        }
        .image_reseau{
            width: 150px;
            height: 80px;
        }